<%= form_for(@graph, multipart: true) do |f| %>
  <% if @graph.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@graph.errors.count, "error") %> prohibited this graph from being saved:</h2>

      <ul>
      <% @graph.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :graph_label, "Name Your Graph" %>
    <%= f.text_field :graph_label %>
  </div>
  <div class="field">
    <%= f.label :data_source, "TSV or CSV file containing your data:" %>
    <%= f.file_field :data_source %>
  </div>
  <div class="field">
    <%= f.label :graph_type, "Bar or Line graph?" %>
    <%= f.select(:graph_type, [['Bar', 'bar'],
                                ['Line', 'line']
                               ],{ :prompt => "Please select"},
                                 { :multiple => false, :size => 5 }
                               ) %>
  </div>
  <div class="row">
    <div class="field column">
      <%= f.label :x_field, "Field on X Axis" %>
      <%= f.text_field :x_field %>
    </div>
    <div class="field column">
      <%= f.label :y_field, "Field on Y Axis" %>
      <%= f.text_field :y_field %>
    </div>
  </div>
  <div class="field">
    <%= f.label :separator_fields, "Separator Fields (fields, if any, that you wish to be used to divide the data)" %>
    <%= f.text_field :separator_fields %>
  </div>
  <div class="actions">
    <%= f.submit 'Make a graph' %>
    <%= link_to 'Nevermind', graphs_path, class: 'button' %>
  </div>
<% end %>