<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="y3zwVFRG-1AgN-DdWvp7SUYRqibkKIPWiuHmkcfofro" />
    <meta property="og:title" content="Graphity Space"/>
    <meta property="og:url" content="https://www.graphity.space" />

    <title><%= content_for?(:title) ? yield(:title) : "Graphity Space" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  </head>

  <body>
    <div class='content'>
      <header>
        <div class="top-bar">
          <div class="top-bar-left medium-8">
            <ul class="menu">
              <li><a href="/graphs/new">New Graph</a></li>
              <li><a href="/instructions">Instructions</a></li>
              <% if !current_user.present? %>
                <li><a id="sign_up_button" class='button' href="/users/sign_up">Sign Up</a></li>
                <li><a id="sign_in_button" class='button' href="/users/sign_in">Log In</a></li>
              <% else %>
                <li><a id="profile_button" class='button' href="/users/edit">Profile</a></li>
                <li><a id="sign_out_button" class='button' data-method="delete" href="/users/sign_out">Log Out</a></li>
              <% end %>
            </ul>
          </div>
          <div class="top-bar-right medium-6 small-4">
            <%= form_tag(graphs_path, method: 'get') do %>
              
              <%= text_field_tag :search, "Search" %>
              
            <% end %>
          </div>
        </div>
        <div class="row align-middle">
          <div class="medium-4 columns">
            <a href='/'>
              <%= image_tag 'kitsunenograss.png' %>
            </a>
          </div>
          <div class="medium-8 columns">
            <img src="https://placehold.it/728x90&text=Advertisement Placeholder" alt="Register to Vote today!">
          </div>
        </div>
    </header>
    <br>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <hr>
  <%= yield %>
  </div>
  <footer>
      <div class="row expanded">
        <div class="medium-6 columns">
          <ul class="menu align-left">
            <li class="menu-text">Copyright © <%= Date.today.year %> KitsuneSays Analytics</li>
          </ul>
        </div>
      </div>
    </footer>
</body>  
</html>